body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
    color: #C4C4C4;
}
h2{
    font-size: 30px;
    color: #0d0d0d;
}
p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    color: #707070;
}
img{
    width: 250px;
    border: dashed 10px #ffffff;
    /* to center img*/
    display: block;
    margin: 0 auto;
}
div{
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ffffff;
}
.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
.introduction p{
    color: #ffffff;
}
.red{
    background-color: #ff0000;
    text-align: right;
    right: 0;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
}
.red h2{
    color: #000000;
}
.red p{
    color: #ffffff;
}
.blue{
    background-color: #0000ff;
    text-align: left;
    left: 0;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}
.blue h2,p{
    color: #c4c4c4;
}
.yellow{
    background-color: #ffff00;
    text-align: right;
    right: 0;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
}
.yellow p{
    color: #707070;
}
.green{
    background-color: #008500;
    text-align: left;
    left: 0;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}
.green p{
    color: #ffffff;
}
footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #000000, #0000ff 25%, #0066ff 70%, #000000 100%);
    border: 5px solid #ffffff;
}
footer p{
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    color: #ffffff;
}